* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

/* Exercício 1 
Crie um cabeçalho para sua aplicação utilizando a tag header. Este cabeçalho deve possuir 3 elementos e estes devem ser posicionados utilizando Flexbox.*/

.header-container {
  border: 1px solid black;
  background-color: black;
  display: flex;
  justify-content: space-around;
}


.color-text {
  color: white;
  display: flex;
  align-items: center;
}

/* Exercício 2 
Implemente o conteúdo da primeira section. Esta seção deverá conter no mínimo um elemento de texto. Utilizando Flexbox.*/
.paragrafo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Exercício 3
Implemente o posicionamento da segunda section. Esta seção deverá conter no mínimo 6 imagens e um título para cada uma delas.*/
.gallery-new-container {
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-around;
}

h4 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Exercício 4
Por fim, faça o posicionamento do footer/rodapé, este é o ultimo elemento necessário para que nossa aplicação fique completa. O rodapé deverá conter no mínimo 2 elementos. */
.footer-container {
  display: flex;
  justify-content: center;
}

.footer-image-container {
  margin-top: 20px;
}